on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v1
      - name: npm install
        run: npm install
      - name: build pages
        run: npm run build

      - name: Setup git account
        run: |
          git config --global user.email "<>>"
          git config --global user.name "github_bot"
      - name: Deploy to github pages
        run: |
          git remote set-url origin https://git:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
          npx gh-pages -d --dotfiles build -u "github-actions-bot <support+actions@github.com>"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}